<h1><%= @place["name"] %></h1>

<p><a href="/places/<%= @place["id"] %>/entries/new">Add a new entry</a></p>

<h2>Entries</h2>

<ul>
  <% @entries.each do |entry| %>
    <li>
      <strong><%= entry["title"] %></strong>
      <div><%= entry["occurred_on"] %></div>
      <div><%= entry["description"] %></div>
    </li>
  <% end %>
</ul>

<p><a href="/places">Back to All Places</a></p>
